/* Style kontenera listy produkt贸w */
.product-list-container {
  width: 80%;
  margin: 20px auto;
  font-family: Arial, sans-serif;
  color: #333;
}

/* Nag贸wek */
h1 {
  text-align: center;
  color: #660066;
}

/* Stylowanie pola do filtrowania */
.filter-input {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}

.filter-input input {
  padding: 10px;
  width: 300px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
}

.filter-input input:focus {
  outline: none;
  border-color: #660066;
}

/* Przycisk dodawania nowego produktu */
.add-product-button {
  text-align: center;
  margin-bottom: 20px;
}

.add-product-button button {
  padding: 10px 20px;
  background-color: #660066;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.add-product-button button:hover {
  background-color: #220b4e;
}

/* Style dla tabeli produkt贸w */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  background-color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Style dla kom贸rek tabeli */
th, td {
  padding: 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  font-size: 16px;
  position: relative;
}

th {
  background-color: #660066;
  color: white;
  cursor: pointer;
}

/* Style dla przycisk贸w sortowania */
th.sort-asc::after {
  content: ' ';
}

th.sort-desc::after {
  content: ' ';
}

/* Style dla kom贸rek tabeli */
td {
  background-color: #f9f9f9;
}

td.high-stock {
  background-color: #e8f5e9;
}

td.low-stock {
  background-color: #ffebee;
}

/* Style dla paginacji */
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.pagination button {
  padding: 10px 20px;
  background: #220b4e;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin: 0 10px;
}

.pagination button:hover {
  background: #660066;
}

.pagination span {
  font-size: 16px;
  color: #333;
}
